@import "../../scss/components.module";

.preloader {
  &.medium {
    display: flex;
    align-items: center;
    height: 36px;
  }
  &.small {
    display: flex;
    align-items: center;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
