@import "./../../scss/components.module.scss";

.form_group {
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;

  input {
    height: 48px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 10px 10px rgba(62, 71, 192, 0.04);
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    outline: none;
  }
  &.error {
    input,
    textarea {
      border-color: $red;
    }
  }

  .errorMessage {
    font-size: 12px;
    color: $red;
  }
}
