@import "./../scss/components.module.scss";

.addressSearch {
  background-color: $g;
  border-radius: .25rem;
  padding: 30px 0;
  border: 1px solid rgba(0,0,0,.125);
  background-color: $w;

  .wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 0px 50px;
    z-index: 999;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  .left {
    padding-left: 30px;
  }

  .right {
    padding-right: 30px;
  }

  .selectEmployee {
    display: flex;
    align-items: center;

    h2 {
      margin-right: 18px;
    }
  }

  .inputWrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    .inputBox {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 10px;
      width: 100%;
      box-sizing: border-box;
      height: 50px;
      border: 1px solid $gline;
      border-radius: 5px;
      background-color: $w;

      input {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 14px;
        outline: none;
        border: none;
        margin-left: 5px;
      }
    }

    .searchVariables {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      z-index: 999;

      .searchItem {
        background-color: $w;
        border-bottom: 1px solid $gline;
        cursor: pointer;
        padding: 8px 16px;
        transition: all 0.3s;

        p {
          color: $b;
          font-size: 13px;
          line-height: 14px;
          margin: 0;
          font-weight: 700;
        }

        small {
          font-size: 12px;
          color: $gt;
          font-weight: 700;
        }

        &:hover {
          background-color: $g;
        }
      }
    }
  }
}

.snackbarWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.snackBar {
  margin-top: 12px;
  background-color: $green !important;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px !important;
  color: $w !important;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.05) !important;

  div {
    max-width: 70%;
  }
}

.redBar {
  background-color: #fa8454 !important;
}

.errorBar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.05);
  background-color: $red;
  color: $w;
  margin-top: 12px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;

  p {
    margin-left: 8px;
  }
}

.btnCopy {
  color: $g !important;
}
